@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

#separate{
  content: "";
  width: 1px;
  height: 16px;
  display: block;
  background-color: #ccc;
}

.Normal{
  font-size: 18px;
  text-align: justify;
  line-height: 2;
}

.lazy{
  aspect-ratio: 440/264;
}



.layout{
  height: 650px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 100px 300px;
  gap: 20px;
}

/* track line start / track line end */

.layout-item:first-child{
  grid-column: 1/3;
  grid-row:1/2;
}

.layout-item:nth-child(2),.layout-item:nth-child(3){
  grid-row:1/3;
}


.layout-item:nth-child(4),.layout-item:nth-child(5){
  grid-row: 2/4;
}

.layout-item:last-child{
  grid-column: 3/5;
}

.layout-item img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.layout-item{
  overflow: hidden;
}